@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dalam file CSS Anda atau CSS-in-JS */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Atur warna latar belakang sesuai kebutuhan Anda */
  z-index: 999; /* Atur indeks z sesuai kebutuhan Anda */
  /* Tambahan gaya lainnya sesuai dengan kebutuhan Anda */
}
